<% provide :title, t(".help") %>
<h1><%= t(".help") %></h1>
<p><%= t ".get_help" %>
  <em><%= link_to t(".get_help_link"),
    "http://www.railstutorial.org/help" %></em>
</p>

<p><%= t ".book_help" %>
  <em><%= link_to t(".book_help_link"),
    "http://www.railstutorial.org/book" %></em>
</p>

